body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0; margin:0;
    background: url('../images/paper.png');
}

#header{
    overflow: auto;
    background:white;
    border-bottom: 3px solid lightgray;
}
#header-content{
    width:960px;
    overflow: auto;
    margin: auto;   
}
#title{
    background: teal;
    color: white;
    font-size: 1.8em;
    width: 30%;
    text-align: center;
    padding: 15px;
    float:left;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#links{
    width: 40%;
    float:right;
    padding: 20px;
    padding-right: 0;
    text-align: right;
}

#links a{
    /* margin: 10px; */
    color: gray;
    padding:5px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-right: 1px solid lightgray;
}
#links a:last-child{
    padding-left:20px;
    border:none
}
#links a:hover{
    text-decoration: underline;
}

.box{
    background:white;
    width: 916px;
    padding: 20px;
    border: 1px solid lightgray;
    margin:50px auto;
}
.box-title{
    font-size: 1.8em;
    color:teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}
.box-content{
    margin: 30px 0;
    display: block
}
.box-content p{
    font-size: 1.2em;
    color:gray;
    line-height: 1.5em;
}
.box-content img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#footer{
    background: #777;
    color: white;
    min-height: 100px;
    position: absolute; bottom: 0;
    width: 100%;
    border-top: 8px solid teal;
    font-size: 1.2em;
    text-align: center;
}